.dashboard {
    padding: 0 80px;
}

@media only screen and (max-width: 800px) {
    .dashboard {
        padding: 20px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 30px auto;
    padding: 30px;
    margin-left: -30px;
}

.item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    filter: drop-shadow(0 0 0.6rem #e3e3e3a4);
    text-decoration: none;
}

.item h3 {
    color: rgb(50, 50, 50);
    font-size: 15px;
}

.button {
    background-color: rgb(31, 79, 225);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 20px;
}

@media only screen and (max-width: 800px) {
    .button {
        margin: 10px 0;
        font-size: 12px;
    }
}