.container {
    max-width: 600px;
    margin: 25vh auto;
    padding: 40px;
}

.inner {
    display: flex;
    background-color: white;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.6rem #e3e4f5a4);
    border-left: 20px solid #1824c0;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.uploadForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.fileInput {
    margin-right: 10px;
}

.uploadButton {
    background-color: #1824c0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.uploadButton:hover {
    background-color: #10199a;
}