.navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.navBrand {
    display: flex;
    align-items: center;
}

.brandLogo {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.brandName {
    font-size: 20px;
    font-weight: bold;
}

.navList {
    list-style: none;
    display: flex;
}

.navItem {
    margin-right: 1rem;
}

.navLink {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .brandLogo {
        width: 22px;
        height: 22px;
    }

    .brandName {
        font-size: 16px;
    }
    
    .navLink {
        font-size: 12px;
    }
}

.navLink:hover {
    text-decoration: underline;
}

.authButtons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .authButtons p {
        display: none;
    }
}

.authButton {
    background-color: transparent;
    color: rgb(91, 66, 172);
    border: 2px solid rgb(91, 66, 172);
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.authButton:hover {
    background-color: rgb(45, 20, 125);
    color: rgb(255, 255, 255);
}